<h1>Make your form here</h1>

<form method="POST" action="/pirates" >
<p><label for="pirate_name" id="name">Pirate Name:</label>
    <input type="text" name="pirate[name]"></p>
<p><label for="pirate_weight" id="weight">Pirate Weight:</label>
    <input type="text" name="pirate[weight]"></p>
<p><label for="pirate_height" id="height">Pirate Height:</label>
    <input type="text" name="pirate[height]"></p>
<p><label for="ship_name" id="ship_name_1">Ship Name 1:</label>
    <input type="text" name="pirate[ships][][name]"></p>
<p><label for="ship_type 1" id="ship_type_1">Ship Type 1:</label>
    <input type="text" name="pirate[ships][][type]"></p>
<p><label for="ship_name" id="ship_booty_1">Ship Booty 1:</label>
    <input type="text" name="pirate[ships][][booty]"></p>
<p><label for="ship_name" id="ship_name_2">Ship Name 2:</label>
    <input type="text" name="pirate[ships][][name]"></p>
<p><label for="ship_type_1" id="ship_type_2">Ship Type 2:</label>
    <input type="text" name="pirate[ships][][type]"></p>
<p><label for="ship_name" id="ship_booty_2">Ship Booty 2:</label>
    <input type="text" name="pirate[ships][][booty]"></p>
<input type="submit" value="Submit"></p>
</form>
